<cfapplication name="erez" clientmanagement="yes" sessionmanagement="Yes" sessiontimeout=#CreateTimeSpan(0,0,60,0)#>
<CFIF ISDEFINED("Cookie.CFID") AND ISDEFINED("Cookie.CFToken")>
    <CFCOOKIE NAME="CFID" VALUE="#Cookie.CFID#">
    <CFCOOKIE NAME="CFToken" VALUE="#Cookie.CFToken#">
</CFIF>
<cfif NOT IsDefined('Session.Status')>	
    <cfset Session.Status    = 0>
</cfif><!---
<cfset gsPath = "C:\inetpub\erezdecache\">
<cfset gsPath2 = "/productos/">--->
<cfset varDb = "erezdesarrollo">
<cfset varDbU = "sa">
<cfset varDbP = "root">
<!---<cfset dummy = SetLocale("Spanish (Mexican)")>--->
<cfset correo_envios="atencion@latazasolutions.com">
<cfset contrasena_envios="Bev74Fqr">
<cfset correo_inventario="inventario@latazasolutions.com">
