<html>
    <head>
    <title>Inicio</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <CFSET StructDelete(Session, "usuarioid")>
    <CFSET StructDelete(Session, "nombre")>
    <CFSET StructDelete(Session, "tipousuario")>
    <CFSET StructDelete(Session, "modulos")>
    <CFSET StructDelete(Session, "tienda")>
    <script language="JavaScript">
                <CFOUTPUT>alert("Que tenga un buen día.");</CFOUTPUT>
                window.location="index.cfm";
            </script>
    </head>
    <body>
    <p align="center"></p>
    <p align="center"><font face="Arial, Helvetica, sans-serif">Que tenga un buen día</font></p>
    <p align="center"><font face="Arial, Helvetica, sans-serif"><strong><a href="index.cfm"><font size="4">Pantalla 
      de inicio</font></a></strong> </font></p>
    
    </body>
    </html>
    