<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Alta Percepcion</title>
</head>
<cftransaction>
<cfquery name="qryPercepcion" datasource="#varDb#" dbtype="odbc" username="#varDbU#" password="#varDbP#">
    SELECT * FROM Percepcion
    WHERE Percepcion_id=#Percepcionid#
</cfquery>
<cfif qryPercepcion.Deduccion_recurrente_id neq "">
<cfquery name="qryAltaPercepcion" datasource="#varDb#" dbtype="odbc" username="#varDbU#" password="#varDbP#">
    DELETE Deduccion_recurrente
    WHERE Deduccion_recurrente_id=#qryPercepcion.Deduccion_recurrente_id#
</cfquery>
</cfif>
<cfquery name="qryaltaPercepciones" datasource="#varDb#" dbtype="odbc" username="#varDbU#" password="#varDbP#">
    DELETE Percepcion
    WHERE Percepcion_id=#Percepcionid#
</cfquery>

</cftransaction>
<cfquery name="qryPercepciones" datasource="#varDb#" dbtype="odbc" username="#varDbU#" password="#varDbP#">
    SELECT * FROM Percepcion INNER JOIN Tipo_Percepcion ON Percepcion.Tipo_Percepcion_id=Tipo_Percepcion.Tipo_Percepcion_id
    WHERE Semana_ano_id=#semanaid# and empleado_id=#empleadoid#
</cfquery>
<body>
<cfoutput>
   <cfset cargotot =0>
              <table border="0" align="center" width="500">
              <tr>
              	<td align="center">Historial de Percepciones<br />
                	La percepci&oacute;n se elimino con &eacute;xito
                </td>
              </tr>
              <tr>
              	<td><table border="0" align="center"><tr><td>Concepto</td><td>Monto</td><td>&nbsp;</td></tr>
                	<cfloop query="qryPercepciones">
                    <tr><td>#Tipo_Percepcion#</td><td>#LSCurrencyFormat(Monto)#</td><td><a href="javascript:Percepcionbaja('Percepcionbaja.cfm','#Percepcion_id#');void(0);"><img src="img/icono_tacha.png" width="20" height="20" alt="borrar" border="0" /></a></td></tr>
                    <cfset cargotot =cargotot+monto>
                    </cfloop>
                    <tr><td>Total</td><td>#LSCurrencyFormat(cargotot)#</td><td>&nbsp;</td></tr>
                </table></td>
              </tr>
              </table>
</cfoutput>
</body>
</html>