<style>
	.content-logo{
		width: 100vw;
		height: 8vw;
	}
	.logo{
		width: 12vw;
	}
	.alineartop
	{
		width: max-content;
		margin: auto;
	}
</style>
<div class="content-logo col d-flex align-items-center justify-content-center">
	<img class="logo" src="images/Logo-Erez.png" alt="Logo Erez">
</div>